.message-container {
    position: fixed;
    width: 100%;
    z-index: 1000;
    pointer-events: none;

    &.top-left {
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    &.top-right {
        top: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    &.center {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.message {
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    color: #fff;
    pointer-events: auto;
    max-width: 300px;
    min-width: 200px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);

    // Default for mobile screens
    font-size: 14px;

    // Responsive adjustments for larger screens
    @media (min-width: 576px) {
        font-size: 16px;
        max-width: 350px;
    }

    @media (min-width: 768px) {
        font-size: 18px;
        max-width: 400px;
    }

    @media (min-width: 992px) {
        font-size: 20px;
        max-width: 450px;
    }

    @media (min-width: 1200px) {
        font-size: 22px;
        max-width: 500px;
    }
}

.success {
    background-color: rgba(#28a745, 0.8);
}

.error {
    background-color: rgba(#dc3545, 0.8);
}

.warn {
    background-color: rgba(#ffc107, 0.8);
}

.info {
    background-color: rgba(#17a2b8, 0.8);
}

.content {
    font-size: inherit;
}

.progress {
    height: 4px;
    background-color: currentColor;
    margin-top: 8px;
    border-radius: 2px;
    transition: width 0.3s linear;
}